{% extends "base.html" %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}
Listing Recipes
{% endblock %}

{% block recipe-detail %}

<h2>{{ recipe.title }}</h2>

<h3><strong>Ingredients:</strong></h3>
<ul>
{% for ingredient in recipe.ingredient.all %}
<li>
<strong>{{ ingredient.ingredient.name }}:</strong>
{{ ingredient.quantity }}
{{ ingredient.get_unit_display }}
</li>
{% endfor %}
</ul>

<!-- <strong>Description: </strong> -->
{{ recipe.description|safe }}

<!-- <strong>Image:</strong> -->
<div class="image-thumbs clearfix">
<ul class="list-unstyled">
{% for image in recipe.recipeimage_set.all %}
<li class="go-left">
<a class="gallery" href="{{ image.image.url }}"><img src="{% version image.image 'thumbnail' %}" alt="{{ image.image.title }}" title="{{ image.image.title }}"/></a>
</li>
{% endfor %}
</ul>
</div>

<div>
<a class="btn btn-lg" href="{% url 'recipe:list' %}">Return to recipe list</a>
</div>

<script>
jQuery('a.gallery').colorbox({rel:"gallery", width: "600px", arrowKey: true, title: "Pancakes"});
</script>

{% endblock %}
