li.go-left {
    float: left;
}

div.clear {
    clear: both;
}

.navbar-brand {
    padding: 0px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.loggedin {
    color: #c36de0;
}

.fixed-height {
    height: 360px;
}

.to-bottom {
    position: absolute;
    bottom: 20px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}
