{% load staticfiles %}
<!DOCTYPE html>
<html lang="en_us">
<head>
    <meta charset="utf-8">
    <title>Recipe Home Page</title><script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'django_colorbox/css/colorbox.css' %}" />
    <script type="text/javascript" src="{% static 'django_colorbox/js/jquery.colorbox-min.js' %}"></script>
    </head>

    <body>
    {% block content %}
    {% block recipe-detail %}
    {% endblock %}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    </body>
</html>
